<app-profile 
    userName="Neo Synth" 
    avatarUrl="https://randomuser.me/api/portraits/men/75.jpg">
</app-profile>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">
            <i class="fas fa-chart-line"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-compact-disc"></i> Eventos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-ticket-alt"></i> Tickets
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-users"></i> Artistas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-cog"></i> Ajustes
        </a>
    </li>
</ul>

<div class="p-3 mt-4">
    <button class="btn btn-neon w-100">Cerrar Sesión</button>
</div>
